[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
uvicorn = {extras = ["standard"], version = "*"}
django-cors-headers = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.8"
